.app {
    background: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.create-car-bar {
    display: flex;
    flex-direction: row;
    padding: 5px 50px 30px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
}

.convertible {
    width: 15%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.button-group {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#car-name {
    width: 100%;
    height: 40px;
    font-size: 0.75em;
}

.input-carname {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-carname-and-submit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create-car-price {
    position: absolute;
    top: 80vh;
    left: 50px;
    width: 300px;
    height: 80px;
    background-color: var(--primary);
    border: 3px solid black;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2em;
}
.option-modal {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border: 4px solid rgb(115, 2, 12);
    border-radius: 4px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    color: #fff;
}

.option-card-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    padding: 5px;
    color: #fff;
    /* opacity: 0; */
    transition: all .5s;
}

.option-card {
    width: 140px;
    /* height: 100px; */
    height: wrap-content;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.available-options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.onSelection {
    background-color: gray;
}

.canClick {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}